.analytics_page {
  .hero {
    padding: 230px 0;
    @media (max-width: 768px) {
      padding: 200px 0;
    }
    .container {
      gap: 80px;
      &::after,
      &::before {
        display: none;
      }
      @media (max-width: 992px) {
        gap: 32px;
        flex-direction: column;
      }
    }
    &_title {
      text-align: left;
      padding: 0;
      @media (max-width: 768px) {
        text-align: center;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
      }
    }
    &_text {
      @media (max-width: 768px) {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        text-align: center;
      }
    }
    &_left {
      max-width: 757px;
      @media (max-width: 992px) {
        max-width: 100%;
      }
      .button {
        width: fit-content;
        display: flex;
        gap: 12px;
        max-width: 290px;
        flex: 0 0 auto;
        @media (max-width: 992px) {
          padding: 13px 24px;
        }
        @media (max-width: 768px) {
          max-width: 100%;
          width: 100%;
        }
        span {
          flex: 0 0 auto;
        }
      }
    }
    &_img {
      max-width: 483px;
      @media (max-width: 992px) {
        width: 100%;
        max-width: 100%;
      }
      img {
        width: 100%;
        object-fit: contain;
      }
    }
    &_form {
      margin-top: 50px;
      label {
        max-width: 435px;
        @media (max-width: 992px) {
          max-width: 55%;
        }
        @media (max-width: 768px) {
          max-width: 100%;
          width: 100%;
        }
      }
      p {
        @media (max-width: 768px) {
          text-align: center;
          width: 100%;
        }
        a {
          @media (max-width: 768px) {
            display: block;
            color: #fff;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
          }
        }
      }
    }
  }
  .seo_price {
    .seo_price_item {
      padding: 50px 24px;
      position: relative;
      overflow: hidden;
      .toptitle {
        max-width: 363px;
        margin: 0 auto;
        position: absolute;
        padding: 5px;
        border-radius: 0 0 30px 30px;
        background: #2b72f4;
        text-align: center;
        top: -1px;
        left: 0;
        right: 0;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
      }
      .link_btn {
        color: #2b72f4;
        font-size: 24px;
        font-weight: 700;
        text-decoration: none;
      }
      .seo_price_item_bottom li {
        border: 0;
        &:last-child {
          width: 100%;
          max-width: 310px;
        }
        a.button {
          width: 100%;
          justify-content: center;
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
        }
      }
    }
    .seo_price_subinfo {
      gap: 20px;
      li {
        border: 0;
      }
    }
  }
  .seo_audit__columns {
    border-radius: 23px;
    background: #fff;
    box-shadow: -4px 4px 29px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
    .seo_audit__block {
      background: transparent;
      box-shadow: 0 0 0 transparent;
      padding: 0;
    }
  }
  .seo_analysis {
    background: url(../images/bg_analiysc.png) no-repeat center;
    background-size: 100% 100%;
    .section_title {
      br {
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
  .analytics_page_items {
    gap: 32px;
  }
  .analytics_page_item {
    padding: 20px;
    border-radius: 23px;
    background: #fff;
    box-shadow: -4px 4px 29px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
  }
  .online_site {
    @media (max-width: 768px) {
      padding: 50px 0 0;
    }
  }
  .online_site_items {
    justify-content: space-between;
    @media (max-width: 1024px) {
      flex-wrap: wrap;
      margin-top: 32px;
    }
    .online_site_item {
      gap: 0px;
      width: calc(33.33% - 10px);
      border-radius: 23px;
      background: #f1f5f9;
      @media (max-width: 1024px) {
        width: calc(50% - 10px);
        flex-direction: column !important;
      }
      @media (max-width: 768px) {
        width: 100%;
      }
      .site_banner {
        background: url(../images/banner_mobile.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        max-width: 100%;
        img {
          max-width: 95%;
          @media (max-width: 1024px) {
            width: 90%;
            object-fit: contain;
          }
        }
      }
      .site_info {
        padding: 20px 20px 32px;
        .site_info_title {
          margin-top: 0;
        }
      }
    }
  }
  .advantanges {
    padding: 80px 0;
    @media (max-width: 768px) {
      padding: 50px 0;
    }
    .advantanges_items {
      padding-top: 50px;
      @media (max-width: 1024px) {
        gap: 32px 0;
      }
      @media (max-width: 768px) {
        padding-top: 32px;
      }
    }
    .advantange_item {
      width: calc(25% - 10px);
      color: #222529;
      @media (max-width: 1024px) {
        width: calc(50% - 10px);
      }
      @media (max-width: 768px) {
        width: 100%;
      }
      &-img {
        img {
          @media (max-width: 768px) {
            max-width: 84px;
            width: 100%;
          }
        }
      }
      .advantange_item_info {
        margin-top: 20px;
        @media (max-width: 768px) {
          margin-top: 32px;
        }
      }
      .advantange_item_title {
        color: #222529;
        text-align: center;
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-bottom: 20px;
        @media (max-width: 768px) {
          font-size: 20px;
        }
      }
      p:last-child {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
      }
    }
  }
  .comments {
    margin-top: 0;
    padding-top: 50px;
    background: url(../images/comment_bg.png) no-repeat center;
    background-size: 100% 100%;
    @media (max-width: 768px) {
      padding-top: 50px;
      padding-bottom: 80px;
      background-size: 100% cover;
    }
    .comments_item_top_content {
      margin-bottom: 0 !important;
    }
    .comments_item:nth-child(2),
    .comments_item:nth-child(4),
    .comments_item:nth-child(6) {
      margin-top: 0;
    }

    .comments_items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;
      margin-top: 50px;
      gap: 20px 0;
      @media (max-width: 768px) {
        margin-top: 32px;
      }
    }
    .comments_item {
      width: calc(50% - 10px);
      gap: 32px;
      @media (max-width: 1024px) {
        padding: 20px;
      }
      @media (max-width: 768px) {
        width: 100%;
      }
      .date {
        margin-top: 0;
      }
      &:first-child {
        width: calc(42% - 10px);
        min-height: 568px;
        @media (max-width: 1024px) {
          width: calc(50% - 10px);
          max-height: fit-content;
          gap: 32px;
          min-height: auto;
        }
        @media (max-width: 768px) {
          width: 100%;
        }
      }
      &:nth-child(2),
      &:nth-child(3) {
        width: calc(58% - 10px);
        height: fit-content;
        gap: 32px;
        right: 0;
        @media (max-width: 1024px) {
          width: calc(50% - 10px);
          height: auto;
        }
        @media (max-width: 768px) {
          width: 100%;
        }
        .date {
          margin-top: 0;
        }
      }
      &:nth-child(3) {
        position: absolute;
        @media (max-width: 1024px) {
          position: static;
        }
      }
    }

    // /* Barcha kartochkalar */
    // .comments_item {
    //   border-radius: 23px;
    //   background: #fff;
    //   box-shadow: -4px 4px 29px 0px rgba(0, 0, 0, 0.15);
    //   padding: 32px;
    //   font-family: sans-serif;
    //   font-size: 16px;
    //   line-height: 1.5;
    //   width: 100%;
    // }

    // .comments_item:nth-child(4) {
    //   grid-column: 2 / 3; /* o‘rta ustun */
    //   grid-row: 2;
    // }
    // .comments_item:nth-child(5) {
    //   grid-column: 3 / 4; /* oxirgi ustun */
    //   grid-row: 2;
    // }

    .comments_item_top_content {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 16px;
    }

    .comments_item_top_info h3 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 4px;
    }

    .stars {
      display: flex;
      gap: 4px;
    }

    .stars img {
      width: 18px;
      height: 18px;
    }

    .comments_item_top_text {
      font-size: 16px;
      line-height: 1.5;
      color: #333;
    }

    .date {
      margin-top: 32px;
      font-size: 14px;
      color: #222529;
    }
  }
  .faq {
    padding-top: 0;
    background: url(../images/bg_faq.png) no-repeat center, -1200px;
    background-size: 100% 100%;
    .section_title {
      max-width: 702px;
      margin: 0 auto;
    }
    &_items {
      padding: 0;
      border-radius: 0;
      box-shadow: 0 0 transparent;
      background: transparent;
    }
    &_item {
      padding: 20px;
      border-radius: 23px;
      background: #fff;
      box-shadow: -4px 4px 29px 0px rgba(0, 0, 0, 0.15);
    }
  }
  .consult {
    .section_title {
      @media (max-width: 1024px) {
        text-align: center;
      }
    }
    .container {
      padding: 32px;
      @media (max-width: 1024px) {
        flex-direction: column-reverse;
      }
    }
    .consult_form {
      @media (max-width: 1024px) {
        flex-direction: column;
      }
      input {
        @media (max-width: 1024px) {
          width: 100%;
          max-width: 100%;
        }
      }
      .button {
        @media (max-width: 1024px) {
          width: 100% !important;
        }
      }
      p {
        @media (max-width: 1024px) {
          text-align: center;
        }
      }
      .container{
        
      }
    }
  }
}
