.blog {
  padding-top: 80px;
  &_items {
    padding-top: 50px;
  }
  &_item {
    width: calc(25% - 10px);
    border-radius: 23px;
    border: 1px solid #eaeaea;
    background: #fff;
    box-shadow: -4px 4px 29px 0px rgba(0, 0, 0, 0.15);
    color: #222529;
    img {
      width: 100%;
      object-fit: contain;
    }
    &_title {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    p {
      margin-top: 20px;
      color: #222529;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }
    &_body {
      padding: 32px 20px 20px;
      a {
        color: #8e939a;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 8px 48px;
        text-decoration: none;
        height: 46px;
        width: 100%;
        border-radius: 100px;
        border: 1px solid #eaeaea;
        margin-top: 32px;
        
      }
    }
  }
}
