.comments {
  padding: 50px 0;
  background: #f1f5f9;
  margin-top: 135px;
  &_items {
    gap: 50px 0;
    margin-top: 41px;
  }

  &_item {
    padding: 32px;
    width: calc(33.33% - 25px);
    border-radius: 23px;
    background: #fff;
    box-shadow: -4px 4px 29px 0px rgba(0, 0, 0, 0.15);
    color: #222529;
    gap: 88px 0;
    &:nth-child(2) {
      margin-top: 50px;
    }
    &:nth-child(4),
    &:nth-child(6) {
      margin-top: -50px;
    }
    &_top {
      gap: 41px 0;
      .stars {
        margin-top: 12px;
      }
      &_content {
        gap: 12px;
        & > img {
          height: 54px;
          width: 54px;
          border-radius: 50%;
          object-fit: cover;
          flex: 0 0 auto;
        }
      }
    }

    .item_top {
      gap: 15px;

      @media (max-width: 556px) {
        gap: 10px;
      }
    }

    .user_name {
      color: #333;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      @media (max-width: 1024px) {
        font-size: 22px;
      }
    }

    .comments_info {
      margin-top: 15px;
      color: #333;
      font-family: "Roboto";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
