.seo_analysis {
  padding: 80px 0;
  @media (max-width: 768px) {
    padding: 50px 0 24px;
  }
  .seo_audit {
    &__columns {
      margin-top: 53px;
      column-count: 3;
      column-gap: 20px;
      color: #222529;
      position: relative;
      z-index: 23;
      background: #fff;
      @media (max-width: 1200px) {
        column-count: 2;
      }

      @media (max-width: 768px) {
        column-count: 1;
      }
    }

    &__block {
      padding: 22px;
      margin-bottom: 20px;
      break-inside: avoid;
      border-radius: 23px;
      border-radius: 23px;
      background: #fff;
      box-shadow: -4px 4px 29px 0px rgba(0, 0, 0, 0.15);
      position: relative;
      z-index: 2;
      @media (max-width: 768px) {
        margin-bottom: 24px;
        padding: 20px;
      }

      &:nth-child(3) {
        padding-right: 29px;
        li {
          width: 86%;
        }
      }
      &_header {
        display: flex;
        align-items: center;
        gap: 12px;
      }
      h5 {
        color: #222529;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @media (max-width: 768px) {
          font-size: 20px;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        color: #222529;
        margin-top: 20px;
        li {
          position: relative;
          padding-left: 30px;
          list-style: none;

          font-style: normal;
          font-weight: 400;
          a {
            color: #222529;
            font-size: 16px;
            text-decoration: none;
          }
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 5px;
            color: #3498db;
            background-image: url("../images/true.svg");
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 12;
            width: 18px;
            height: 16px;
            @media (max-width: 768px) {
              width: 17px;
              height: 12px;
            }
          }
        }
      }
    }
  }
}
.analytics_page {
  &_items {
    gap: 50px;
    @media (max-width: 1024px) {
      gap: 32px;
    }
  }
  &_item {
    overflow: visible;
    gap: 74px;
    @media (max-width: 1200px) {
      gap: 24px;
    }
    @media (max-width: 1200px) {
      flex-direction: column;
    }
    img {
      @media (max-width: 1024px) {
        width: 100%;
      }
    }
    &:nth-child(even) {
      padding-top: 32px;
      border-top: 1px solid #eaeaea;
      @media (max-width: 1200px) {
        flex-direction: column-reverse;
      }
      .section_title {
        span {
          @media (max-width: 1024px) {
            margin: 0 0 0 auto;
          }
        }
      }
      .button {
        margin: 20px 0 0 auto;
      }
    }
    &.align-items-start {
      align-items: flex-start !important;
      .item_image {
        position: sticky;
        top: 20px;
        @media (max-width: 1200px) {
          position: static;
        }
      }
    }
    .section_title {
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      display: inline;
      @media (max-width: 1024px) {
        font-size: 22px;
      }
      .button {
        display: inline-block;
        padding: 12px;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        @media (max-width: 1024px) {
          padding: 6px;
          font-size: 22px;
        }
      }
    }
    .button {
      margin-top: 20px;
    }
    .hiden_text {
      color: #222529;
      max-height: 152px;
      overflow: hidden;
      color: #222529;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      h2 {
        font-size: 20px;
        font-weight: 700;
        margin: 16px 0;
        @media (max-width: 768px) {
          font-size: 17px;
          margin: 8px 0;
        }
      }

      &.no-after {
        max-height: fit-content;
      }
      &::after {
        height: 37px;
      }
      p {
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
    }

    &_left {
      position: relative;
      z-index: 2;
      @media (max-width: 768px) {
        width: 100%;
      }
      .number {
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        color: #2b72f4;
        @media (max-width: 768px) {
          width: 47px;
          height: 47px;
          border-radius: 50%;
          background: #2b72f4;
          flex: 0 0 auto;
          display: flex;
          font-size: 22px;
          color: #fff;
          justify-content: center;
          align-items: center;
          line-height: normal;
          padding: 6px;
        }
      }

      .button.no_bg {
        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }
  .item_image {
    position: relative;
    @media (max-width: 768px) {
      width: 100%;
    }
    img:not(.bg) {
      border-radius: 23px;
      background: #fff;
      padding: 5px;
      position: relative;
      z-index: 1;
      @media (max-width: 768px) {
        padding: 0;
      }
    }
    .bg {
      position: absolute;
      inset: 0;
      margin: auto;
      @media (max-width: 768px) {
        bottom: auto;
        top: -128px;
      }
    }
  }
}
