.forms {
    padding: 75px 0;
    background-color: #F0F6FF;
    .container {
        border-radius: 30px;
        background: linear-gradient(265deg rgba(254, 76, 28, 0.50) 31.48% rgba(255, 61, 0, 0.80) 67.07%);
        box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
        padding: 50px;
    }
}