.offer {
    padding: 75px 0 95px;
    background: linear-gradient(265deg, #7CBEFF 31.87%, #178CFF 66.24%);
    .container{
        @media (max-width:768px) {
          flex-direction: column;
        }
        @media (max-width:556px) {
            gap: 28px 0;
        }
    }
    .offer_info {
        width: calc(60% - 10px);
        @media (max-width:1024px) {
            width: calc(65% - 50px); 
        }
        @media (max-width:768px) {
           width: 100%;
        }
    }

    .section_title {
        color: #fff;
        @media (max-width:1024px) {
         font-size: 30px;
        }
    }

    .offer_description {
        margin-top: 28px;
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media (max-width:768px) {
            margin-top: 15px;
         }
    }

    .button {
        margin-top: 25px;
        display: block;
        width: fit-content;
    }

    .offer_image {
        width:calc(40% - 50px);
        @media (max-width:1024px) {
            width: calc(35% - 10px); 
        }
        @media (max-width:768px) {
            width: 100%;
         }
        img{
            width: 100%;
            object-fit: contain;
        }
    
    }
}