.seo_price {
  padding: 50px 0;
  background: #f1f5f9;
  .section_description {
    margin-top: 20px;
    font-size: 20px;
    color: #222529;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
  &_items {
    margin-top: 50px;
    @media (max-width: 1024px) {
      flex-direction: column-reverse;
      gap: 20px;
    }
  }
  &_item {
    width: calc(50% - 10px);
    padding: 13px 30px;
    border-radius: 23px;
    background: #fff;
    box-shadow: -4px 4px 29px 0px rgba(0, 0, 0, 0.15);
    &:nth-child(2) {
      border-radius: 23px;
      background: linear-gradient(196deg, #2b72f4 7.43%, #19428e 94.38%);
      box-shadow: -4px 4px 29px 0px rgba(0, 0, 0, 0.15);
      .seo_price_item_top {
        gap: 20px;
        p {
          color: #fff;
          font-size: 18px;
        }
        h4 {
          color: #fff;
          max-width: 100%;
        }
      }
      h4 {
        color: #fff;
      }
      .seo_price_item_content {
        border-color: #4a8aff;
      }

      li {
        color: #fff;
        border-color: #4a8aff;
      }
      .seo_price_subinfo {
        margin-top: 20px;
        gap: 0;
        color: #fff;
        li {
          border: 0;
        }
      }
      .seo_price_item_bottom {
        margin-top: 44px;
        .link_btn {
          color: #fff;
        }
      }
      //   &_bottom {
      //     margin-top: 44px;
      //   }
    }
    @media (max-width: 1024px) {
      width: 100%;
      padding: 32px;
    }

    .seo_price_item_top {
      gap: 20px;
      p {
        color: #222529;
        font-size: 18px;
        font-weight: 600;
        @media (max-width: 768px) {
          font-size: 16px;
        }
      }
      h4 {
        color: #2b72f4;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        max-width: 473px;
        @media (max-width: 1024px) {
          max-width: 100%;
          font-size: 20px;
        }
      }
    }
    &_content {
      padding-top: 25px;
      margin-top: 25px;
      h4 {
        color: #8e939a;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;
      }
      ul {
        gap: 12px;
        margin-top: 20px;
      }
      br {
        @media (max-width: 556px) {
          display: none;
        }
      }
      li {
        color: #222529;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        list-style: none;
        padding-bottom: 12px;
        border-bottom: 1px solid #eaeaea;
        display: flex;
        gap: 12px;
        svg {
          flex: 0 0 auto;
        }
      }
      p:first-child {
        color: #8e939a;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    &_bottom {
      margin-top: 44px;
      list-style: none;
      @media (max-width: 556px) {
        flex-direction: column;
        gap: 20px;
      }
      li {
        @media (max-width: 556px) {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  &_subinfo {
    margin-top: 40px;
    gap: 20px;
    color: #222529;
  }
  .link_btn {
    color: #2b72f4;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
  }
  .button {
    @media (max-width: 556px) {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 13px 24px;
    }
  }
}
.analytics_page {
  .seo_price {
    background: linear-gradient(241deg, #2b72f4 -2.57%, #19428e 73.63%);
  }
  .seo_price_item:nth-child(2) {
    background: #fff;
    li {
      border-bottom: 1px solid #eaeaea;
      color: #222529;
    }
    p:not(:first-child) {
      color: #222529;
    }
    h4 {
      color: #222529;
    }
  }
}
