.seo_price {
  padding: 50px 0;
  background: #f1f5f9;
  .section_description {
    margin-top: 20px;
    font-size: 20px;
    color: #222529;
  }
  &_items {
    margin-top: 50px;
  }
  &_item {
    width: calc(50% - 10px);
    padding: 13px 30px;
    border-radius: 23px;
    background: #fff;
    box-shadow: -4px 4px 29px 0px rgba(0, 0, 0, 0.15);
    &:nth-child(2) {
      border-radius: 23px;
      background: linear-gradient(196deg, #2b72f4 7.43%, #19428e 94.38%);
      box-shadow: -4px 4px 29px 0px rgba(0, 0, 0, 0.15);
      .seo_price_item_top {
        gap: 20px;
        p {
          color: #fff;
          font-size: 18px;
        }
        h4 {
          color: #fff;
          max-width: 100%;
        }
      }
      h4 {
        color: #fff;
      }
      .seo_price_item_content {
        border-color: #4a8aff;
      }
      li {
        color: #fff;
        border-color: #4a8aff;
      }
      .seo_price_subinfo {
        margin-top: 20px;
        gap: 0;
        color: #fff;
        li {
          border: 0;
        }
      }
      .seo_price_item_bottom {
        margin-top: 44px;
        .link_btn {
          color: #fff;
        }
      }
      //   &_bottom {
      //     margin-top: 44px;
      //   }
    }
    .seo_price_item_top {
      gap: 20px;
      p {
        color: #222529;
        font-size: 18px;
        font-weight: 600;
      }
      h4 {
        color: #2b72f4;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        max-width: 473px;
      }
    }
    &_content {
      padding-top: 20px;
      border-top: 1px solid #eaeaea;
      margin-top: 20px;
      h4 {
        color: #8e939a;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;
      }
      ul {
        gap: 12px;
        margin-top: 20px;
      }
      li {
        color: #222529;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        list-style: none;
        padding-bottom: 12px;
        border-bottom: 1px solid #eaeaea;
        display: flex;
        gap: 12px;
      }
    }
    &_bottom {
      margin-top: 44px;
      list-style: none;
    }
  }
  &_subinfo {
    margin-top: 40px;
    gap: 20px;
    color: #222529;
  }
  .link_btn {
    color: #2b72f4;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
  }
}
