@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'hero';
@import 'region';
@import 'contents';
@import 'price';
@import 'seo_consult_form';
@import 'seo_information';
@import 'chart';
@import 'seo_training';
@import 'purchase';
@import 'advantages';
@import 'portfolio';
@import 'course';
@import 'features';
@import 'seo_education';
@import 'comments';
@import 'consultation';
@import 'faq';
@import 'offer';

@font-face {
    font-family: 'Microsoft Sans Serif';
    src: url(../fonts/micross.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li,p{
    padding: 0;
    margin: 0;
}
body {
    font-family:'Roboto';
    font-size: 16px;
    font-weight: 400;
    background-color:#FFFFFF;
}
.wrapper{
    overflow: hidden;
}
.container{
    max-width:1160px;
    margin: 0 auto;
    @media (max-width:1024px) {
        max-width: 768px;
    }
    @media (max-width:768px) {
        max-width: 556px;
    }
}
// flex
.flex {
    display: flex;
    &.between {
        justify-content: space-between;
    }

    &.center {
        justify-content: center;
    }

    &.end {
        justify-content: flex-end;
    }

    &.start {
        justify-content: flex-start;
    }

    &.column {
        flex-direction: column;
    }

    &.a_center {
        align-items: center;
    }

    &.a_start {
        align-items: flex-start;
    }

    &.a_end {
        align-items: flex-end;
    }
    &.wrap{
        flex-wrap: wrap;
    }

}
.section_title{
color: #333;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
@media (max-width:556px) {
    font-size: 30px;
  }
}
.button{
padding: 20px 39px;
justify-content: center;
align-items: flex-start;
gap: 10px;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
cursor: pointer;
border-radius: 30px;
background: #FFF;
text-decoration: none;
border: 0;
}
.blue{
    color: #126CC5 !important;
}
.blue_dark{
    color: #1C17A2 !important;
}