@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.hero {
  background: url("../images/hero_bg.png") no-repeat center;
  background-size: cover;
  padding-bottom: 60px;
}
.hero_title {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  padding-top: 60px;
}
@media (max-width: 768px) {
  .hero_title {
    font-size: 32px;
  }
}
@media (max-width: 556px) {
  .hero_title {
    font-size: 26px;
    padding-top: 48px;
  }
}
.hero_text {
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  margin-top: 24px;
  color: #fff;
}
@media (max-width: 768px) {
  .hero_text {
    font-size: 18px;
  }
}
@media (max-width: 556px) {
  .hero_text {
    font-size: 16px;
  }
}
.hero_form {
  gap: 20px 32px;
  margin-top: 86px;
}
@media (max-width: 768px) {
  .hero_form {
    margin-top: 50px;
  }
}
.hero_form label {
  max-width: 599px;
  width: 100%;
}
.hero_form input {
  border: 0;
  border-radius: 100px;
  border: 1px solid #8e939a;
  background: #fff;
  width: 100%;
  height: 46px;
  padding: 13px 20px;
  outline: none;
}
@media (max-width: 768px) {
  .hero_form .button {
    width: 100%;
  }
}
.hero_form p {
  color: #bec1c4;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.hero_form p a {
  text-decoration-line: underline;
  color: #bec1c4;
}
.hero_images {
  margin-top: 42px;
  max-width: 100%;
  position: relative;
}
@media (max-width: 768px) {
  .hero_images {
    margin-top: 78px;
  }
}
.hero_images img:first-child {
  max-width: 100%;
  object-fit: contain;
}
.hero_images img:last-child {
  position: absolute;
  right: 211px;
  bottom: -32px;
}
@media (max-width: 768px) {
  .hero_images img:last-child {
    right: 10%;
    max-width: 30%;
  }
}

.seo_section {
  padding: 80px 0;
}
@media (max-width: 768px) {
  .seo_section {
    padding: 60px 0;
  }
}
@media (max-width: 556px) {
  .seo_section {
    padding: 50px 0;
  }
}
.seo_section .section_title {
  margin-top: 80px;
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .seo_section .section_title {
    margin-top: 60px;
    padding-bottom: 40px;
  }
}
@media (max-width: 556px) {
  .seo_section .section_title {
    margin-top: 50px;
    padding-bottom: 32px;
  }
}
.seo_section_info {
  color: #222529;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.seo_section_info h3 {
  color: #222529;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
@media (max-width: 768px) {
  .seo_section_info h3 {
    font-size: 20px;
  }
}
.seo_section_info h3.last {
  margin-top: 32px;
}
@media (max-width: 556px) {
  .seo_section_info h3.last {
    margin-top: 28px;
  }
}
.seo_section_info p {
  margin-top: 32px;
}
@media (max-width: 768px) {
  .seo_section_info p {
    margin-top: 24px;
  }
}
@media (max-width: 556px) {
  .seo_section_info p {
    margin-top: 20px;
  }
}
.seo_section a {
  margin: 20px auto 0;
}
@media (max-width: 556px) {
  .seo_section a {
    width: 100%;
  }
}

.seo_analysis {
  padding: 80px 0;
}
@media (max-width: 768px) {
  .seo_analysis {
    padding: 50px 0 24px;
  }
}
.seo_analysis .seo_audit__columns {
  margin-top: 53px;
  column-count: 3;
  column-gap: 20px;
  color: #222529;
  position: relative;
  z-index: 23;
  background: #fff;
}
@media (max-width: 1200px) {
  .seo_analysis .seo_audit__columns {
    column-count: 2;
  }
}
@media (max-width: 768px) {
  .seo_analysis .seo_audit__columns {
    column-count: 1;
  }
}
.seo_analysis .seo_audit__block {
  padding: 22px;
  margin-bottom: 20px;
  break-inside: avoid;
  border-radius: 23px;
  border-radius: 23px;
  background: #fff;
  box-shadow: -4px 4px 29px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .seo_analysis .seo_audit__block {
    margin-bottom: 24px;
    padding: 20px;
  }
}
.seo_analysis .seo_audit__block:nth-child(3) {
  padding-right: 29px;
}
.seo_analysis .seo_audit__block:nth-child(3) li {
  width: 86%;
}
.seo_analysis .seo_audit__block_header {
  display: flex;
  align-items: center;
  gap: 12px;
}
.seo_analysis .seo_audit__block h5 {
  color: #222529;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 768px) {
  .seo_analysis .seo_audit__block h5 {
    font-size: 20px;
  }
}
.seo_analysis .seo_audit__block ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  color: #222529;
  margin-top: 20px;
}
.seo_analysis .seo_audit__block ul li {
  position: relative;
  padding-left: 30px;
  list-style: none;
  color: #222529;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.seo_analysis .seo_audit__block ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  color: #3498db;
  background-image: url("../images/true.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 12;
  width: 18px;
  height: 16px;
}
@media (max-width: 768px) {
  .seo_analysis .seo_audit__block ul li::before {
    width: 17px;
    height: 12px;
  }
}

.analytics_page_items {
  gap: 50px;
}
@media (max-width: 1024px) {
  .analytics_page_items {
    gap: 32px;
  }
}
.analytics_page_item {
  gap: 74px;
}
@media (max-width: 1200px) {
  .analytics_page_item {
    gap: 24px;
  }
}
@media (max-width: 1024px) {
  .analytics_page_item {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .analytics_page_item img {
    width: 100%;
  }
}
.analytics_page_item:nth-child(n+2) {
  padding-top: 32px;
  border-top: 1px solid #eaeaea;
}
@media (max-width: 1024px) {
  .analytics_page_item:nth-child(n+2) {
    flex-direction: column-reverse;
  }
}
@media (max-width: 1024px) {
  .analytics_page_item:nth-child(n+2) .section_title span {
    margin: 0 0 0 auto;
  }
}
.analytics_page_item:nth-child(n+2) .button {
  margin: 20px 0 0 auto;
}
.analytics_page_item .section_title {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 1024px) {
  .analytics_page_item .section_title {
    font-size: 22px;
  }
}
.analytics_page_item .section_title .button {
  display: inline-block;
  padding: 12px;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .analytics_page_item .section_title .button {
    padding: 6px;
    font-size: 22px;
  }
}
.analytics_page_item .button {
  margin-top: 20px;
}
.analytics_page_item .hiden_text {
  color: #222529;
}
.analytics_page_item .hiden_text::after {
  height: 37px;
}
.analytics_page_item_left {
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .analytics_page_item_left {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .analytics_page_item_left .section_title span {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: #2b72f4;
    flex: 0 0 auto;
    display: flex;
    font-size: 22px;
    color: #fff;
    justify-content: center;
    align-items: center;
    line-height: normal;
    padding: 6px;
  }
}
@media (max-width: 768px) {
  .analytics_page_item_left .button.no_bg {
    width: 100%;
  }
}
.analytics_page .item_image {
  position: relative;
}
@media (max-width: 768px) {
  .analytics_page .item_image {
    width: 100%;
  }
}
.analytics_page .item_image img:not(.bg) {
  border-radius: 23px;
  background: #fff;
  padding: 5px;
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  .analytics_page .item_image img:not(.bg) {
    padding: 0;
  }
}
.analytics_page .item_image .bg {
  position: absolute;
  inset: 0;
  margin: auto;
}
@media (max-width: 768px) {
  .analytics_page .item_image .bg {
    bottom: auto;
    top: -128px;
  }
}

.seo_price {
  padding: 50px 0;
  background: #f1f5f9;
}
.seo_price .section_description {
  margin-top: 20px;
  font-size: 20px;
  color: #222529;
}
@media (max-width: 768px) {
  .seo_price .section_description {
    font-size: 16px;
  }
}
.seo_price_items {
  margin-top: 50px;
}
@media (max-width: 1024px) {
  .seo_price_items {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
.seo_price_item {
  width: calc(50% - 10px);
  padding: 13px 30px;
  border-radius: 23px;
  background: #fff;
  box-shadow: -4px 4px 29px 0px rgba(0, 0, 0, 0.15);
}
.seo_price_item:nth-child(2) {
  border-radius: 23px;
  background: linear-gradient(196deg, #2b72f4 7.43%, #19428e 94.38%);
  box-shadow: -4px 4px 29px 0px rgba(0, 0, 0, 0.15);
}
.seo_price_item:nth-child(2) .seo_price_item_top {
  gap: 20px;
}
.seo_price_item:nth-child(2) .seo_price_item_top p {
  color: #fff;
  font-size: 18px;
}
.seo_price_item:nth-child(2) .seo_price_item_top h4 {
  color: #fff;
  max-width: 100%;
}
.seo_price_item:nth-child(2) h4 {
  color: #fff;
}
.seo_price_item:nth-child(2) .seo_price_item_content {
  border-color: #4a8aff;
}
.seo_price_item:nth-child(2) li {
  color: #fff;
  border-color: #4a8aff;
}
.seo_price_item:nth-child(2) .seo_price_subinfo {
  margin-top: 20px;
  gap: 0;
  color: #fff;
}
.seo_price_item:nth-child(2) .seo_price_subinfo li {
  border: 0;
}
.seo_price_item:nth-child(2) .seo_price_item_bottom {
  margin-top: 44px;
}
.seo_price_item:nth-child(2) .seo_price_item_bottom .link_btn {
  color: #fff;
}
@media (max-width: 1024px) {
  .seo_price_item {
    width: 100%;
    padding: 32px;
  }
}
.seo_price_item .seo_price_item_top {
  gap: 20px;
}
.seo_price_item .seo_price_item_top p {
  color: #222529;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .seo_price_item .seo_price_item_top p {
    font-size: 16px;
  }
}
.seo_price_item .seo_price_item_top h4 {
  color: #2b72f4;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 473px;
}
@media (max-width: 1024px) {
  .seo_price_item .seo_price_item_top h4 {
    max-width: 100%;
    font-size: 20px;
  }
}
.seo_price_item_content {
  padding-top: 20px;
  border-top: 1px solid #eaeaea;
  margin-top: 20px;
}
.seo_price_item_content h4 {
  color: #8e939a;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
.seo_price_item_content ul {
  gap: 12px;
  margin-top: 20px;
}
@media (max-width: 556px) {
  .seo_price_item_content br {
    display: none;
  }
}
.seo_price_item_content li {
  color: #222529;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  list-style: none;
  padding-bottom: 12px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  gap: 12px;
}
.seo_price_item_content li svg {
  flex: 0 0 auto;
}
.seo_price_item_bottom {
  margin-top: 44px;
  list-style: none;
}
@media (max-width: 556px) {
  .seo_price_item_bottom {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 556px) {
  .seo_price_item_bottom li {
    width: 100%;
    text-align: center;
  }
}
.seo_price_subinfo {
  margin-top: 40px;
  gap: 20px;
  color: #222529;
}
.seo_price .link_btn {
  color: #2b72f4;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}
@media (max-width: 556px) {
  .seo_price .button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 13px 24px;
  }
}

.online_site {
  padding: 80px 0 0;
}
.online_site .site_banner {
  background: url(../images/clip_bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  max-width: 510px;
  width: 100%;
}
@media (max-width: 1024px) {
  .online_site .site_banner {
    background: url(../images/banner_mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    max-width: 100%;
  }
}
.online_site_items {
  gap: 50px 0;
  margin-top: 50px;
}
@media (max-width: 1024px) {
  .online_site_items {
    gap: 20px 0;
  }
}
.online_site_item {
  border-radius: 23px;
  background: #f1f5f9;
  gap: 87px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .online_site_item {
    flex-direction: column-reverse !important;
    gap: 12px;
  }
}
.online_site_item:nth-child(even) .site_banner {
  background: url(../images/site_bg.svg) no-repeat center/100%;
}
@media (max-width: 1024px) {
  .online_site_item:nth-child(even) .site_banner {
    background: url(../images/banner_mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    max-width: 100%;
  }
}
.online_site_item:nth-child(even) .site_info {
  padding: 32px 50px 32px 0px;
}
@media (max-width: 1024px) {
  .online_site_item:nth-child(even) .site_info {
    width: 100%;
    padding: 0 20px 55px;
  }
}
@media (max-width: 1024px) {
  .online_site_item:nth-child(even) .site_info > img {
    width: 62px;
  }
}
@media (max-width: 1024px) {
  .online_site_item:nth-child(even) {
    flex-direction: column !important;
  }
}
.online_site_item .site_info {
  color: #222529;
  padding: 32px 0px 32px 50px;
}
@media (max-width: 1024px) {
  .online_site_item .site_info {
    width: 100%;
    padding: 0 20px 55px;
  }
}
@media (max-width: 1024px) {
  .online_site_item .site_info > img {
    width: 62px;
  }
}
.online_site_item .site_info_title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 24px;
}
@media (max-width: 1024px) {
  .online_site_item .site_info_title {
    margin-top: 32px;
  }
}
@media (max-width: 768px) {
  .online_site_item .site_info_title {
    font-size: 20px;
  }
}
.online_site_item .site_info .site_list_title {
  color: #8e939a;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin-top: 20px;
}
.online_site_item .site_info .site_list {
  gap: 12px;
  margin-top: 20px;
}
.online_site_item .site_info .site_list li {
  font-weight: 400;
  gap: 12px;
}
@media (max-width: 1240px) {
  .online_site_item {
    gap: 20px;
  }
}
@media (max-width: 1024px) {
  .online_site_item {
    flex-direction: column;
  }
}

.advantages {
  padding: 31px 0 75px;
  background: #F0F6FF;
}
.advantages_top {
  gap: 0 70px;
}
@media (max-width: 1024px) {
  .advantages_top {
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .advantages_top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse !important;
    gap: 0;
  }
}
.advantages_text {
  color: #FFF;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 35px;
  border-radius: 30px;
  background: linear-gradient(265deg, #7CBEFF 31.87%, #178CFF 66.24%);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
}
@media (max-width: 1024px) {
  .advantages_text {
    padding-right: 15px;
  }
}
@media (max-width: 768px) {
  .advantages_text {
    width: 100%;
  }
}
@media (max-width: 556px) {
  .advantages_text {
    font-size: 22px;
    padding: 25px 30px 28px 20px;
  }
}
@media (max-width: 768px) {
  .advantages_image {
    width: 100%;
  }
}
.advantages_image img {
  width: 100%;
  object-fit: contain;
}
.advantages .section_title {
  margin-top: 79px;
}
@media (max-width: 1024px) {
  .advantages .section_title {
    margin-top: 67px;
  }
}
@media (max-width: 768px) {
  .advantages .section_title {
    text-align: center;
  }
}
@media (max-width: 556px) {
  .advantages .section_title {
    margin-top: 32px;
  }
}
.advantages_items {
  margin-top: 45px;
}
@media (max-width: 1024px) {
  .advantages_items {
    flex-wrap: wrap;
    gap: 40px 0;
  }
}
@media (max-width: 768px) {
  .advantages_items {
    flex-direction: column;
    align-items: center;
  }
}
.advantages_item {
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
  padding: 35px 22px;
  width: calc(33.33% - 20px);
}
@media (max-width: 1024px) {
  .advantages_item {
    width: calc(50% - 20px);
  }
}
@media (max-width: 1024px) {
  .advantages_item {
    flex: 0 0 auto;
    width: 360px;
  }
}
@media (max-width: 556px) {
  .advantages_item {
    width: 100%;
  }
}
.advantages_item .button {
  border-radius: 30px;
  background: linear-gradient(85deg, #00C3FF 29.32%, #7BE0FF 67.76%);
  padding: 14px 38px 13px;
  color: #fff;
  margin-top: 13px;
}
.advantages_item .button.standart {
  background: linear-gradient(265deg, #7CBEFF 31.87%, #178CFF 66.24%);
}
.advantages_item .button.premium {
  background: linear-gradient(214deg, rgba(55, 48, 178, 0.9) 20.76%, rgba(9, 0, 255, 0.9) 79.87%);
}
.advantages_item .adv_info {
  color: #00C3FF;
  text-align: center;
  margin-top: 15px;
}

.seo_advantages {
  padding: 75px 0 86px;
}
@media (max-width: 556px) {
  .seo_advantages {
    padding-bottom: 70px;
  }
}
.seo_advantages .seo_advantages_items {
  margin-top: 31px;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .seo_advantages .seo_advantages_items {
    gap: 36px 0;
  }
}
@media (max-width: 556px) {
  .seo_advantages .seo_advantages_items {
    gap: 25px 0;
  }
}
.seo_advantages .seo_advantages_items .seo_advantages_item {
  width: calc(25% - 20px);
}
@media (max-width: 1024px) {
  .seo_advantages .seo_advantages_items .seo_advantages_item {
    width: calc(50% - 20px);
  }
}
@media (max-width: 768px) {
  .seo_advantages .seo_advantages_items .seo_advantages_item {
    width: calc(50% - 10px);
  }
}
@media (max-width: 556px) {
  .seo_advantages .seo_advantages_items .seo_advantages_item {
    width: 100%;
  }
}
.seo_advantages .seo_advantages_items .seo_advantages_item .seo_adv_title {
  margin-top: 25px;
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.seo_advantages .seo_advantages_items .seo_advantages_item .seo_adv_description {
  margin-top: 10px;
  color: #333;
}

.features {
  padding: 75px 0;
}
.features_items {
  margin-top: 45px;
  flex-wrap: wrap;
  gap: 40px 0;
}
@media (max-width: 1024px) {
  .features_items {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .features_items {
    gap: 25px 0;
  }
}
.features_item {
  width: calc(33.33% - 20px);
}
@media (max-width: 1024px) {
  .features_item {
    width: calc(50% - 20px);
  }
}
@media (max-width: 768px) {
  .features_item {
    width: calc(50% - 10px);
  }
}
@media (max-width: 556px) {
  .features_item {
    width: 100%;
  }
}
.features_item .features_number {
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(85deg, #00C3FF 29.32%, #7BE0FF 67.76%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.features_item:nth-child(2) .features_number, .features_item:nth-child(5) .features_number {
  background: linear-gradient(265deg, #7CBEFF 31.87%, #178CFF 66.24%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.features_item:nth-child(3) .features_number, .features_item:nth-child(6) .features_number {
  background: linear-gradient(214deg, #3730B2 20.76%, #0900FF 79.87%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1024px) {
  .features_item:nth-child(1) {
    order: 0;
  }
  .features_item:nth-child(4) {
    order: 1;
  }
  .features_item:nth-child(2) {
    order: 2;
  }
  .features_item:nth-child(3) {
    order: 5;
  }
  .features_item:nth-child(6) {
    order: 7;
  }
  .features_item:nth-child(5) {
    order: 2;
  }
  .features_item:nth-child(6) {
    order: 6;
  }
}
.features_item .features_title {
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-top: 5px;
}
@media (max-width: 556px) {
  .features_item .features_title {
    margin-top: 10px;
  }
}
.features_item .features_description {
  color: #333;
  margin-top: 10px;
}

.comments {
  padding: 50px 0;
  background: #f1f5f9;
  margin-top: 135px;
}
.comments_items {
  gap: 50px 0;
  margin-top: 41px;
}
.comments_item {
  padding: 32px;
  width: calc(33.33% - 25px);
  border-radius: 23px;
  background: #fff;
  box-shadow: -4px 4px 29px 0px rgba(0, 0, 0, 0.15);
  color: #222529;
  gap: 88px 0;
}
.comments_item:nth-child(2) {
  margin-top: 50px;
}
.comments_item:nth-child(4), .comments_item:nth-child(6) {
  margin-top: -50px;
}
.comments_item_top {
  gap: 41px 0;
}
.comments_item_top .stars {
  margin-top: 12px;
}
.comments_item_top_content {
  gap: 12px;
}
.comments_item_top_content > img {
  height: 54px;
  width: 54px;
  border-radius: 50%;
  object-fit: cover;
  flex: 0 0 auto;
}
.comments_item .item_top {
  gap: 15px;
}
@media (max-width: 556px) {
  .comments_item .item_top {
    gap: 10px;
  }
}
.comments_item .user_name {
  color: #333;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 1024px) {
  .comments_item .user_name {
    font-size: 22px;
  }
}
.comments_item .comments_info {
  margin-top: 15px;
  color: #333;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.benefits {
  margin-top: 80px;
  background: url(../images/benifits.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 50px 0;
}
@media (max-width: 1024px) {
  .benefits {
    margin-top: 50px;
  }
}
.benefits_items {
  margin-top: 63px;
  gap: 39px 0;
  padding-bottom: 95px;
}
.benefits_item {
  width: calc(50% - 63px);
  gap: 32px;
}
@media (max-width: 1024px) {
  .benefits_item {
    width: calc(50% - 13px);
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .benefits_item {
    width: 100%;
  }
}
.benefits_item-img {
  background: #fff;
  width: 84px;
  height: 84px;
  flex: 0 0 auto;
  border-radius: 50%;
}
.benefits_item_title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.benefits_item p {
  margin-top: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.benefits .next_section {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(196deg, #2b72f4 7.43%, #19428e 94.38%);
  margin-bottom: -120px;
  border: 15px solid #fff;
  margin-left: auto;
  margin-right: auto;
}
.benefits .next_section img {
  transition: all 1s linear;
  position: relative;
  animation: scroll_top 1s infinite;
  top: 0;
}

@keyframes scroll_top {
  from {
    top: 0;
    opacity: 0.3;
  }
  to {
    opacity: 1;
    top: 4px;
  }
}
.faq {
  padding: 80px 0 0;
}
.faq_items {
  border-radius: 23px;
  background: #fff;
  box-shadow: -4px 4px 29px 0px rgba(0, 0, 0, 0.15);
  padding: 32px;
  margin-top: 50px;
  gap: 20px;
  color: #222529;
}
.faq_item {
  padding: 20px 0;
  gap: 20px;
  border-top: 1px solid #eaeaea;
}
.faq_item:first-child {
  padding-top: 0;
  border-top: none;
}
.faq_item:last-child {
  padding-bottom: 0;
}
.faq_item_header {
  color: #222529;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.blog {
  padding-top: 80px;
}
.blog_items {
  padding-top: 50px;
}
.blog_item {
  width: calc(25% - 10px);
  border-radius: 23px;
  border: 1px solid #eaeaea;
  background: #fff;
  box-shadow: -4px 4px 29px 0px rgba(0, 0, 0, 0.15);
  color: #222529;
}
.blog_item img {
  width: 100%;
  object-fit: contain;
}
.blog_item_title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.blog_item p {
  margin-top: 20px;
  color: #222529;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.blog_item_body {
  padding: 32px 20px 20px;
}
.blog_item_body a {
  color: #8e939a;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 8px 48px;
  text-decoration: none;
  height: 46px;
  width: 100%;
  border-radius: 100px;
  border: 1px solid #eaeaea;
  margin-top: 32px;
}

.consult {
  padding: 80px 0;
}
.consult .container {
  border-radius: 23px;
  background: linear-gradient(106deg, #19428e 7.43%, #2b72f4 94.39%);
  padding: 46px;
}
.consult .section_title {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.consult_form {
  gap: 20px 32px;
  margin-top: 32px;
}
.consult_form input {
  width: 100%;
  border: 0;
  background: transparent;
  outline: 0;
  border-radius: 100px;
  border: 1px solid #eaeaea;
  color: #fff;
  max-width: 265px;
  padding: 13px 20px;
}
.consult_form input::placeholder {
  color: #fff;
}
.consult_form .consultation_item:last-child {
  margin-top: 5px;
}
.consult_form .check {
  gap: 5px;
}
.consult_form .check .check_title {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
}
.consult_form .check .check_link {
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
}
.consult_form .check .check_link a {
  color: #fff;
}
.consult_form .button {
  width: fit-content !important;
  color: #fe4c1c;
}
@media (max-width: 556px) {
  .consult_form .button {
    width: 100% !important;
  }
}
.consult .consultation_content_list {
  gap: 49px;
  width: calc(32% - 28px);
}
@media (max-width: 1024px) {
  .consult .consultation_content_list {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .consult .consultation_content_list {
    flex-wrap: wrap;
    gap: 49px 24px;
    flex-direction: row !important;
  }
}
@media (max-width: 768px) {
  .consult .consultation_content_list {
    margin-top: 18px;
    gap: 30px 0;
  }
}
.consult .consultation_content_list .consultation_content_item {
  gap: 10px;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .consult .consultation_content_list .consultation_content_item {
    width: calc(50% - 12px);
  }
}
@media (max-width: 556px) {
  .consult .consultation_content_list .consultation_content_item {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
}
.consult .consultation_content_list .consultation_content_item .consultation_content_title {
  color: #333;
  font-weight: 700;
}
.consult .consultation_content_list .consultation_content_item .consultation_content_desciption {
  margin-top: 5px;
}
@media (max-width: 768px) {
  .consult .consultation_content_list .consultation_content_item .consultation_content_desciption {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .consult .consultation_content_list .consultation_content_item .consultation_content_desciption {
    margin-top: 10px;
  }
}

*,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
p {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter";
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #ffffff;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 556px;
  }
}

.section_title {
  color: #222529;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 768px) {
  .section_title {
    font-size: 32px;
  }
}
@media (max-width: 556px) {
  .section_title {
    font-size: 26px;
  }
}
.section_title span {
  color: #2b72f4;
}

.section_description {
  color: #222529;
}

.button {
  border-radius: 100px;
  background: #2b72f4;
  padding: 13px 48px;
  outline: none;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: block;
  width: fit-content;
  text-decoration: none;
}
.button.no_bg {
  border-radius: 100px;
  border: 1px solid #2b72f4;
  background: #fff;
  color: #2b72f4;
  text-align: center;
}

.blue {
  color: #126cc5 !important;
}

.blue_dark {
  color: #1c17a2 !important;
}

.breadcrumbs {
  gap: 12px;
  color: #222529;
  list-style: none;
}
.breadcrumbs a {
  color: #222529;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.hiden_text {
  margin-top: 20px;
  position: relative;
}
.hiden_text::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 38px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, #fff 100%);
}
.hiden_text.no-after::after {
  opacity: 0;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */